@font-face {
    font-family: Furore;
    src: url("Furore/Furore.otf") format("opentype");
}
:root {
	--col1: #c493ff;
    --col1-rgb: rgb(196, 147, 255, 1);
    --col1-rgb2: rgb(196, 147, 255, 0.5);
    --col1-rgb3: rgb(196, 147, 255, 0);
    --col2: #1f1f1f;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--col2);
    font-family: "Furore";
    letter-spacing: .2rem;
    font-weight: 400;
    font-style: normal;
    color: var(--col1);
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    cursor:none;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


nav {
    position: fixed;
    z-index: 96;
    height: 80vh;
    width: 10em;
    left: 20px;
    border-right: 1px solid var(--col1);
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

nav a {
    text-decoration: none;
    color: var(--col1);
    cursor: none;
    height: fit-content;
    padding: 10px 15px 10px 15px;
    transition: color 0.15s, background-color 0.15s;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--col1);
    border-right: 1px solid var(--col1);
    white-space: nowrap;
    border-top-left-radius: 0.5em;
}

nav a:hover {
    background-color: var(--col1);
    color: var(--col2);
}

#bar_expand {
    width: 0;
    height: 0;
    border-bottom: 1px solid var(--col1);
}

#hero {
    font-size: 3em;
    padding: 15px;
}

#bottom_text {
    font-size: 1em;
    padding: 15px;
}

#time {
    position: fixed;
    left: 20px;
    top: 20px;
}


#scroll_nav {
	position: fixed;
	width: 2em;
	height: 20em;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 50%;
	right: 1em;
	transform: translate(0, -50%);
	z-index: 30;
}

.scroll_bar {
	position: absolute;
	border: 1px solid var(--col1);
	width: 0;
	height: 20em;
	z-index: -100;
}

.scroll_circle {
	border-radius: 2em;
	position: absolute;
	top: -0.5em;
	width: 1em;
	height: 1em;
	border: 2px solid var(--col1);
	background-color: var(--col2);
}

#resolve {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    width: 100vw;
}

#resolve div button {
    background-color: transparent;
    color: var(--col1);
    border: 1px solid var(--col1);
    font-family: "Furore";
    letter-spacing: .2rem;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    font-size: 1.75em;
    cursor: none;
}

#resolve div button:hover {
    background-color: var(--col1-rgb2);
    border: 1px solid var(--col1-rgb2);
}

#resolve div span {
    font-size: 1.5em;
    line-height: 1.65em;
}

.seperator {
    height: 50vh;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#form {
    position: absolute;
    background-color: var(--col2);
    border: 1px solid var(--col1);
    border-radius: 1em;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100vw);
}

#date, #time_input {
    background-color: #1f1f1f;
    color: var(--col1);
    border: 1px solid var(--col1);
    padding: 15px;
    border-radius: 1em;
    font-size: 2em;
    font-family: "Furore";
    letter-spacing: .2rem;
    font-weight: 400;
    font-style: normal;
    cursor: none;
}

#date:hover {
    background-color: var(--col1-rgb2);
}

#form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#back {
    position: absolute;
    border-radius: 1em;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    left: 15px;
    top: 15px;
}

#time_input {
    width: 3em;
}

#sect2 {
    justify-content: left;
}

#tree {
    position: relative;
    border: 1px solid var(--col1);
    border-radius: 1em;
    width: 70%;
    height: 50vh;
    display: flex;
    padding: 10px;
}

#info_container {
    position: absolute;
    width: 30%;
    height: 35%;
    right: 0;
    top: 0;
    border: 1px solid var(--col1);
    margin: 15px;
    padding: 10px;
    border-radius: 1em;
    text-align: center;
}

.point {
    position: absolute;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    background-color: var(--col1);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 100;
}

#p1 {left: 20px; top: 50%; background-color: lightgreen;}
#p2 {right: 0px; top: 50%; background-color: lightcoral;}

#p3 {left: 20%; top: 50%; background-color: lightgoldenrodyellow;}
#p4 {left: 25%; top: 30%; background-color: lightpink;}

#p5 {left: 30%; top: 50%; background-color: lightgreen;}
#p6 {left: 35%; bottom: 90px; background-color: aquamarine;}

#p7 {left: 35%; top: 90px; background-color: navajowhite;}

#p8 {left: 30%; top: 30px; background-color: plum;}

#l1, #l2, #l3, #l4, #l5 {
    transform-origin: left;
    position: absolute;
    border-bottom: 2px solid var(--col1);
}

#p1:hover, #p2:hover, #p3:hover, #p4:hover, #p5:hover, #p6:hover, #p7:hover {background-color: ivory;}